.button-container {
    overflow: hidden;
}

button.add {
    float: right;
    margin-bottom: 20px;
}

mat-paginator {
    margin-top: 20px;
}


table {
    button {
        margin-right: 10px;
    }
    width: 100%;
}