<h2>Product List</h2>

<div class="heading-container">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Products">
	</mat-form-field>

	<span>
		<button class="add" mat-raised-button color="primary" (click)="addProduct()">Add Product</button>
	</span>
</div>

<mat-table [dataSource]="products" class="mat-elevation-z8">

	<ng-container matColumnDef="Name">
		<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="Description">
		<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="Action">
		<mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
		<mat-cell *matCellDef="let element">
			<button mat-stroked-button color="primary" (click)="productDetails(element)">View Details</button>
			<button mat-stroked-button color="accent" (click)="editProduct(element)">Edit Details</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>