.heading-container {
    display: flex;
    justify-content: space-between;
}

mat-paginator {
    margin-top: 20px;
}


mat-table {
    button {
        margin-right: 10px;
    }
    width: 100%;
}

.mat-column-Description {
     margin-right: 10px;
}
